@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji&display=swap');


:root{
    --container-size: 500px
}

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 75px;
    padding: 30px 0px;
}

.main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 100vh; */
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 200px;
}

.controls #border-color{
    width: 100%;
    padding: 10px 20px;
}

.controls #color-selector{
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
}

.controls .grid-slider{
    width: 100%;
}

.controls p{
    font-size: 16px;
    font-weight: bold;
}

.controls  .btn, .input{
    cursor: pointer;
}

.controls .grid-slider{
    margin-top: -25px;
}

.controls .btn{
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.active{
    background-color: black;
    color: white;
    border: solid white;
}

.border{
    display: flex;
    width: var(--container-size);
    align-items: center;
    justify-content: center;
    border: solid;
    border-color: black;
    height: var(--container-size);
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: var(--container-size);
}

.block{
    width: 31.25px;
    height: 31.25px;
    user-select: none;
}

.footer{
    height: 85px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
}

.footer .container{
    min-height: 100%;
    min-width: 100%
}

.footer a{
    color: #FFFFFF;
    padding-right: 3px;
    text-decoration: none;
    font-size: 1.2rem;
}

.nerd{
    font-family: 'Noto Color Emoji', sans-serif;
}